@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<h2>Registro de alumnos</h2>

<div>
    <form asp-action="Registro" method="post">
        <div class="form-group">
            <label for="Usuario">Usuario</label>
            <input type="text" id="Usuario" name="Usuario" class="form-control" placeholder="Usuario" required />
        </div>
        <div class="form-group">
            <label for="Contrasena">Contraseña</label>
            <input type="text" id="Contrasena" name="Contrasena" class="form-control" placeholder="Contraseña" required />
        </div>
        <div class="form-group">
            <label for="Nombre">Nombre Completo</label>
            <input type="text" id="Nombre" name="Nombre" class="form-control" placeholder="Nombre Completo" required />
        </div>
        <div class="form-group">
            <label for="Email">Email</label>
            <input type="text" id="Email" name="Email" class="form-control" placeholder="Email" required />
        </div>
        <div class="form-group">
            <label for="Ciclo">Ciclo</label>
            <select id="Ciclo" class="form-control" required>
                <option value="DAW">DAW</option>
                <option value="ASIR">ASIR</option>
                <option value="Finanzas">Finanzas</option>
                <option value="Marketing">Marketing</option>
            </select>
        </div>
        <div class="form-group">
            <label for="Curso">Curso</label>
            <input type="text" id="Curso" name="Curso" class="form-control" placeholder="Curso" min="1" max="2" required />
        </div>
        <div class="form-group">
            <label for="Idiomas">Idiomas</label>
            <input type="text" id="Idiomas" name="IdiomasString" class="form-control" placeholder="Introduce los idiomas separados por coma" required />
        </div>
        <button type="submit" class="btn btn-primary">Registrar</button>
    </form>
</div>

@if (!ViewData.ModelState.IsValid)
{
    <div class="alert alert-danger" role="alert">
        @foreach(var error in ViewData.ModelState.Values.SelectMany(values => values.Errors))
        {
            <p>@error.ErrorMessage</p>
        }
    </div>
}

<p>
    ¿Ya tienes cuenta? <a asp-action="Index">Inicia Sesión</a>
</p>