@model EjemploCifrado.Models.UsuarioViewModel;

<h1 style="color:blue">
    @ViewData["MENSAJE"]
</h1>


<div class="container d-flex justify-content-center align-items-center">
    <div class="card p-4 shadow-sm" style="max-width: 400px; width: 100%;">
        <h3 class="text-center mb-4">Regístrate</h3>
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="mb-3">
                <label for="nombre" class="form-label">Nombre</label>
                <input type="text"  class="form-control" asp-for="Nombre" required>
                <span asp-validation-for="Nombre" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label for="email" class="form-label">Email</label>
                <input type="text" id="Email" class="form-control" asp-for="Email" required>
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label for="password" class="form-label">Contraseña</label>
                <input type="password" id="password" class="form-control" asp-for="Password" required>
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <button type="submit" class="btn btn-primary w-100">Aceptar</button>
        </form>
        
    </div>
</div>


