@{
    ViewData["Title"] = "Mostrar";
}
<!--Le paso los valores de antes -->
<h2>Hola </h2>
<p><strong>Nombre:</strong> @ViewData["Nombre"]</p>
<p><strong>Edad:</strong> @ViewData["Edad"]</p>
<h3>@ViewData["Mensaje"]</h3>

