@model Persona
@{
    Layout = null;
}

<div class="text-center">
    <h1>Soy @Model.Nombre (@Model.Edad)</h1>
    <h4>Desarrollador full stack</h4>
    <img class="perfil rounded-circle" src="@Model.Perfil" />
    <img class="fullstack rounded-circle" src="~/fullstack.jpg" />
    <div class="fluff">
        <h1 class="fluff-heading">Bienvenido a mi portfolio</h1>
        <h2 class="fluff-text">Suspendisse eget nibh sem. Aenean ac lobortis leo. Mauris pretium congue pretium. Mauris euismod vitae massa bibendum malesuada. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Curabitur laoreet risus id ullamcorper convallis. Etiam pellentesque neque id aliquam lacinia. Vivamus semper enim at pellentesque aliquet. Donec posuere ornare sapien, interdum molestie sem molestie ac. Nulla elit elit, pellentesque et tempor eget, feugiat quis massa. Quisque laoreet elit sed sapien hendrerit, et iaculis sem sagittis. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut nisl tortor, placerat ut dignissim nec, lacinia vel massa. </h2>
    </div>
</div>