*{
    color: #f4f4f4;
}

.table-image{
    width: 100px;
    height: auto;
    transition: all 0.15s ease-in-out;
}

.table-image:hover{
    transform: scale(2);
}

thead{
    background: #222;
}

thead th{
    font-size: 2rem;
}

td{
    font-size: 1.5rem;
}

th, tr {
    border-color: #ff4d4d;
}