@model ContactViewModel
@{
}

<div class="md-3">
    <h1 class="text-primary">@Model.Nombre</h1>
    <h3 class="text-secondary">@Model.Email</h3>
    <h3 class="text-secondary">@Model.Mensaje</h3>
</div>