@model AlumnoViewModel

@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}


<div>
    <a asp-controller="Home" asp-action="Index" class="btn btn-outline-secondary mb-3">&larr; Back</a>
    <h1>Alumnos de @Model.ciclo</h1>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Apellido</th>
                <th>Curso</th>
            </tr>
        </thead>
        <tbody>
            @foreach (Alumnos c in Model.alumnos)
            {
                <tr>
                    <td>@c.Nombre</td>
                    <td>@c.Apellidos</td>
                    <td>@c.Curso</td>
                </tr>
            }
        </tbody>
    </table>
</div>