@using Practica6.Helpers

@{
    ViewData["Title"] = "Iniciar sesión y Registrarse";
    string? email = Context.Session.GetObject<User>("User")?.Email;
}

<div class="container">
    <div class="row">
        <div class="col-md-6">
            <h2>Iniciar sesión</h2>
            @if(email != null)
            {
                <form method="post" asp-action="FastLogin">
                    <br />
                    <button type="submit" class="btn btn-success">Iniciar sesión</button>
                </form>
            }
            else{
                <form method="post" asp-action="Login">
                    <div class="form-group">
                        <label for="Email">Correo electrónico</label>
                        <input type="email" id="Email" name="Email" class="form-control" required />
                    </div>
                    <div class="form-group">
                        <label for="Password">Contraseña</label>
                        <input type="password" id="Password" name="Password" class="form-control" required />
                    </div>
                    <br />
                    <button type="submit" class="btn btn-success">Iniciar sesión</button>
                </form>
            }
            <br />

            @if (TempData["ErrorMessage"] != null)
            {
                <div class="alert alert-danger" role="alert">
                    @TempData["ErrorMessage"]
                </div>
            }
        </div>

        <div class="col-md-6">
            <h2>Registrarse</h2>
            <form method="post" asp-action="Register">
                <div class="form-group">
                    <label for="Name">Nombre completo</label>
                    <input type="text" id="Name" name="Name" class="form-control" required />
                </div>
                <div class="form-group">
                    <label for="Dni">DNI</label>
                    <input type="text" id="Dni" name="Dni" class="form-control" required />
                </div>
                <div class="form-group">
                    <label for="Email">Correo electrónico</label>
                    <input type="email" id="Email" name="Email" class="form-control" required />
                </div>
                <div class="form-group">
                    <label for="Password">Contraseña</label>
                    <input type="password" id="Password" name="Password" class="form-control" required minlength="8" maxlength="16" />
                    <small id="passwordHelp" class="form-text text-muted">
                        La contraseña debe tener entre 8 y 16 caracteres.
                    </small>
                    <br />
                    <label for="Role">Rol</label>
                    <select id="Role" name="Role" class="form-control">
                        <option value="0">Administrador</option>
                        <option value="1">Estudiante</option>
                    </select>
                </div>
                <br />
                <button type="submit" class="btn btn-success">Registrarse</button>
            </form>
        </div>
    </div>
</div>